# Copie e cole um um arquivo .env

# Configurações do Banco de Dados (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mundo_invest
DATABASE_URL=postgresql://postgres:postgres@db:5432/mundo_invest

# Configurações do pgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
